body {
    margin: 0;
    background-color: #252525;
    text-align: center;
    font-family: 'Merriweather', serif;
     color: #64dfdf;
     padding-left: 5rem;
     padding-right: 5rem;
}

h1  {
    margin: 0;
    width: 40%;
    margin: 0 auto 0 auto;
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color:#00adb5
}

.hi {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0 auto 0 auto;
}

h2 {font-family: 'Abril Fatface', cursive;
    text-align: center;
    color:#00adb5;
    font-weight: normal}

h3 {
    text-align: left;
    color: #00adb5;
}

.top-container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto 0 auto;
    color:#00adb5;
    line-height: 200%;
}

hr {
    clear: both;
}


.skill-row ,.soft, .mid-pic {
    display: inline;
    width: auto;
    text-align: left;
    float: left;
    margin-left: 10%;
}
td {
    padding-right: 4rem;
    padding-top: 0.5rem;
    vertical-align: top;
}

.employment {
    clear: both;
}

.emp-pic, .emp-hist {
    display: inline;
    width: auto;
    text-align: left;
    float: left;
    padding-top: 2rem;
}

.emp-pic {
    margin-top: -6rem;
    margin-left: 10%;
}
.schools, .sch {
    display: inline;
    width: auto;
    text-align: left;
    float: left;
}
.schools {
    padding-top: 6rem;
    margin-left: 10%;
}
.footer-link {
  background-color: rgb(0, 110, 255);
}

.contact-me-main {
    text-align: center;
}

.contact-me {
  text-align: left;
}

.cont-name {
    text-align: center;
}
.nam {
    margin-right: 0.4rem;
}
textarea {
  vertical-align: top;
  text-align: left;
  width: auto;
}
.emal {
  margin-right: 2.5rem;
}

.chi {
  height: 150%;
  margin: 0 auto 0 auto;
}
.message {
  margin-right: 1.2rem;
}

.sub {
  margin-left: 25%;
}

th  {
    text-align: left;
    color: #00adb5;
    padding-bottom: 2rem;
    padding-right: 7rem;
    font-weight: 800;

}
.last {
    text-align: center;
}

a {
     color: #64dfdf;
}